---
layout: default
title: Welcome, choose your path!
description: Everything you need to know to build integrations with the most innovative integration platform on the market.
---

<div class="welcomer">
    <div class="wrap">
        <div class="welcomer__tit">{{site.data.tenant.name}} iPaaS Documentation</div>
        <div class="welcomer__text">
            Everything you need to know to build integrations with
            <br>the most innovative integration platform on the market.
        </div>
    </div>
</div>

{% assign allPages = "" | split: ", " %}
<div class="categories">
    <div class="wrap">
        <div class="categories__list">
            {% for collection in site.data.chapters%}
                {% assign collectionName = collection[0] %}
                {% assign allPages = allPages | concat: site[collectionName] %}

            <a href="{{collection[0]}}" class="categories__item {{collection[1].class}}">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa {{collection[1].fa-icon}}"></i></span>
                    <span class="categories__name">{{collection[1].title}}</span>
                    <span class="categories__desc">{{collection[1].description}}</span>
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<hr>


{% assign recentlyAddedPagesCount = 0%}

{% for currentPage in allPages%}
    {% if currentPage.since > 0 %}
        {% assign recentlyAddedPagesCount = recentlyAddedPagesCount | plus: 1 %}
    {% endif %}
{% endfor %}

{% assign recentlyAddedPages = allPages | sort: 'since' | reverse %}
{% assign pagesLimit = 5%}

{% assign releases = site.releases | sort: 'releaseDate' | reverse %}

{% assign creleases = site.comp-releases | sort: 'releaseDate' | reverse %}

{% assign releasesCount = releases.size%}
{% assign creleasesCount = comp-releases.size%}

<div class="link-box">
    <div class="wrap">
        <div class="link-box__list">
            {% if recentlyAddedPagesCount > 0 %}
            <ul class="link-box__column">
                <li class="link-box__item">
                    <div class="link-box__tit">Recently Added Pages
                        <div class="counter">
                            {% if recentlyAddedPagesCount < pagesLimit %}
                                {{recentlyAddedPagesCount}}
                            {% else %}
                                {{pagesLimit}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="link-box__holder">
                        {% for currentPage in recentlyAddedPages limit:pagesLimit %}
                            {% if currentPage.since > 0 %}
                                <a class="link-box__link" href="{{currentPage.url}}">{{currentPage.title}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
            {% endif %}
            {% if releasesCount > 0 %}
            <ul class="link-box__column">
                <li class="link-box__item">
                    <div class="link-box__tit">Recent Platform Releases
                        <div class="counter">
                            {% if releasesCount < pagesLimit %}
                                {{ releasesCount | minus: 1 }}
                            {% else %}
                                {{pagesLimit}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="link-box__holder">
                        {% for release in releases limit:pagesLimit %}
                            {% if release.version%}
                              <a class="link-box__link" href="{{release.url}}">v{{release.version}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
            {% endif %}
            {% if releasesCount > 0 %}
            <ul class="link-box__column">
                <li class="link-box__item">
                    <div class="link-box__tit">Component Releases
                        <div class="counter">
                            {% if creleasesCount < pagesLimit %}
                                {{ creleasesCount | minus: 1 }}
                            {% else %}
                                {{pagesLimit}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="link-box__holder">
                        {% for crelease in creleases limit:pagesLimit %}
                            {% if crelease.version%}
                            <a class="link-box__link" href="{{crelease.url}}">#{{crelease.version}} - <time>{{ crelease.releaseDate | date: '%B %d, %Y' }}</time></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
            {% endif %}
            <ul class="link-box__column">
                <li class="link-box__item">
                    <div class="link-box__tit">Useful Links</div>
                    <div class="link-box__holder">
                        <a class="link-box__link" href="{{site.data.tenant.apiBaseUri}}/docs/v2/">
                            <span class="label success">Stable</span>
                            REST API documentation v2 <i class="fa fa-external-link"></i>
                        </a>
                        {% if site.data.tenant.name == "elastic.io" %}
                        <a class="link-box__link" href="https://status.elastic.io">
                            {{site.data.tenant.name}} Status Page<i class="fa fa-external-link"></i>
                        </a>
                        <a class="link-box__link" href="https://support.elastic.io">
                            {{site.data.tenant.name}} Support Portal<i class="fa fa-external-link"></i>
                        </a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
