---
layout: default
title: Table of Contents
description: List of all major articles
---
<div class="wrap">
  <div class="description">
    <h1>Table of Contents</h1>

    This document presents a list of all major articles for an easy overview.

{% for collection in site.data.chapters%}
  {% assign collectionName = collection[0] %}
    {% assign chapter = site.data.chapters[collectionName] %}
      <h2><a href="/{{collectionName}}">{{collection[1].title}}</a></h2>
      {% for section in chapter.sections %}
      <ul><h3>{{section.title}}</h3>
        {% assign items = site[collectionName]| where: 'section', section.title | sort: 'order' %}
            {% for item in items %}
              <li><a href="{{item.url}}">{{item.title}}</a></li>
            {% endfor %}
        </ul>
      {% endfor %}

{% endfor %}
</div>
</div>
