<div class="overview__item">
    <div class="overview__inner">
        <div class="overview__head">
            <div class="overview__icon">
                <i class="fa {{include.data.fa-icon}}"></i>
            </div>
            <div class="overview__tit">{{include.data.title}}</div>
            <a href="#{{include.data.link}}" class="button button_lvl2 button_stroke">{{include.data.button}} →</a>
        </div>
        <ul class="overview__body">
            {{include.items}}
        </ul>
    </div>
</div>