---
layout: default
---
<div class="layout">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="/" class="breadcrumbs__item">Home</a>
            <a href="/{{page.collection}}" class="breadcrumbs__item">{{site.data.chapters[page.collection].title}}</a>
            <span class="breadcrumbs__item">{{page.title}}</span>
        </div>

        <div class="layout__side">
            <div class="contents">
                <div class="side">
                    <div class="side__title">Covered in this article</div>
                    <div id="article_toc" class="side__list">
                    </div>
                    {% if page.category %}
                        {% assign related = "" | split: ", " %}

                        {% for collection in site.data.chapters%}
                            {% assign collectionName = collection[0] %}
                            {% assign relatedFromCollection = site[collectionName] | where:'category', page.category%}
                            {% if relatedFromCollection.size > 0 %}
                                {% assign related = related | concat: relatedFromCollection %}
                            {% endif %}
                        {% endfor %}

                        {% if related.size > 1 %}
                            <div class="side__title">Related articles</div>
                            <div class="side__list">
                                {% for item in related %}
                                    {% if item.url != page.url %}
                                        <a class="side__item" href="{{item.url}}">{{item.title}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--
        <div class="layout__side">
            <div class="section-info">
                <div class="section-info__icon section-info__icon_getting_started">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="section-info__tit">
                    {{page.title}}
                </div>
            </div>
            <ul id="toc-items-holder" class="link-box">
            </ul>
            <div class="section-info">
                <div class="section-info__icon section-info__icon_getting_started">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="section-info__tit">
                    Related articles
                </div>
            </div>
            <ul class="link-box">
                {% for collection in site.data.chapters%}
                {% assign collectionName = collection[0] %}
                {% assign related = site[collectionName] | where:'category', page.category%}
                {% if related.size > 0 %}
                <li class="link-box__item">
                    <div class="link-box__holder">
                        {% for item in related %}
                        {% if item.url != page.url %}
                        <a class="link-box__link" href="{{item.url}}">{{item.title}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        -->
        <div class="layout__content">
            <div class="article">
                <h1>{{page.title}}</h1>
                <h3 class="subtitle">{{page.subtitle}}</h3>
                {{content}}
            </div>
        </div>
    </div>
</div>

<script>
    jQuery('.article h2')
            .each(function(e, x){
                var item = $( "<div></div>" );
                item.addClass('side__item').attr('data-href', x.id).text(x.innerText);
                jQuery('#article_toc').append(item);
            });
</script>
