---
layout: default
---

<div class="wrap">
    <div class="breadcrumbs">
        <a href="/" class="breadcrumbs__item">Home</a>
        <span class="breadcrumbs__item">{{page.title}}</span>
    </div>
</div>
{% assign chapter = site.data.chapters[page.collection] %}
<div class="welcomer welcomer_icon">
    <div class="wrap">
        <div class="welcomer__icon {{chapter.welcommer-class}}"><i class="fa {{chapter.fa-icon}}"></i></div>
        <div class="welcomer__tit">{{page.title}}</div>
        <div class="welcomer__text">{{chapter.description}}</div>
    </div>
</div>

<div class="link-box link-box_wide">
    <div class="wrap">

        <div class="link-box__list">
            {% include sections.html sections=chapter.sections column=0%}
            {% include sections.html sections=chapter.sections column=1%}
            {% include sections.html sections=chapter.sections column=2%}
        </div>
    </div>
</div>