<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{site.data.tenant.name}} Documenation</title>

    <link href="../assets/css/common.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/client.js"></script>

    <link rel="shortcut icon" href="../assets/img/favicon.ico">

</head>
<body>

<div class="page">

    <header>
        <div class="wrap">

            <div class="search">
                <i class="search__ico"></i>
                <div class="search__inner">
                    <input type="text" name="q" id="q" class="search__input" placeholder="Search Docs">
                </div>
            </div>

            <a href="/" class="logo"></a>

            <nav>
                {% for collection in site.data.chapters%}
                <a href="/{{collection[0]}}">{{collection[1].title}}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    {{ content }}
    <div class="footer__spacer"></div>
</div>

<footer>
    <div class="wrap">
        <div class="footer__bar">
            <div class="footer__copy">
                &copy; Copyright {{ 'now' | date: "%Y" }} {{site.data.tenant.companyName}}
            </div>
        </div>
    </div>
</footer>

</body>
</html>