<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>elastic.io Documenation</title>

    <link href="../assets/css/common.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/client.js"></script>

    <link rel="shortcut icon" href="../assets/img/favicon.ico">

</head>
<body>

<header>
    <div class="wrap">

        <nav>
            {% for collection in site.data.chapters%}
            <a href="/{{collection[0]}}">{{collection[1].title}}</a>
            {% endfor %}
        </nav>
        <a href="/" class="logo">
            <span class="logo__ico"></span>Elastic.io <span class="logo__section"></span>
        </a>
    </div>
</header>

{{ content }}

<footer>
    <div class="wrap">
        <div class="footer__bar">
            <div class="footer__copy">
                &copy; Copyright {{ 'now' | date: "%Y" }} elastic.io GmbH
            </div>
        </div>
    </div>
</footer>

</body>
</html>