---
layout: default
---
{% assign releases = site.releases | sort: 'releaseDate' | reverse %}

<div class="layout">
    <div class="wrap">
        <div class="breadcrumbs">
            <a href="/" class="breadcrumbs__item">Home</a>
            <a href="/{{page.collection}}" class="breadcrumbs__item">Releases</a>
            <span class="breadcrumbs__item">v{{page.title}}</span>
        </div>

        <div class="layout__content">
            <div class="date">
                <div class="date__control date__control_r">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="date__control date__control_l">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="date__view">
                    <div class="date__list">
                        {% for release in releases %}
                            {% if release.version == page.version %}
                                {% assign active = "active"%}
                            {% endif %}
                            <a class="date__item {{active}}" href="{{release.url}}">
                                <div class="date__tit">{{release.version}}</div>
                                {{ release.releaseDate | date: '%B %d, %Y' }}
                            </a>
                            {% assign active = ""%}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="article">
                <h1>{{page.title}}</h1>
                v{{page.version}} release date is {{ page.releaseDate | date: '%B %d, %Y' }}.


                {{content}}
            </div>
        </div>
    </div>
</div>

<script>
    jQuery('.article h2')
            .each(function(e, x){
                var item = $( "<div></div>" );
                item.addClass('side__item').attr('data-href', x.id).text(x.innerText);
                jQuery('#article_toc').append(item);
            });
</script>
